<h1>Profile for <%= @user[:name] %></h1>

Hi there, my name is <%= @user[:name] %>.

<Div id="following">
<h2>Following</h2>
<% if @follows.nil? %>
<p>You are not following anyone.</p>
<% else %>
<ul>
<% [*@follows].each do |user| %>
<li><%= user[:name] %> <%= link_to "Profile", user %>
  <% if user_signed_in? %>
  <%= link_to "unfollow", follow %>
  <% end %>
</li>
<% end %>
</ul>
<% end %>
</div>

<div id="not-following">
<h2>Not Following</h2>
<% if @notfollows.nil? %>
<p>You are following everyone.</p>
<% else %>
<ul>
<% [*@notfollows].each do |user| %>
<li><%= user[:name] %> <%= link_to "Profile", user %>
  <% if user_signed_in? %>
  <%= link_to "follow", follow %>
  <% end %>
</li>
<% end %>
</ul>
<% end %>
</div>

<div id="followers">
<h2>Followers</h2>
<% if @followers.nil? %>
<p>You have no followers.</p>
<% else %>
<ul>
<% [*@followers].each do |user| %>
<li><%= user[:name] %> <%= link_to "Profile", user %></li>
<% end %>
</ul>
<% end %>
</div>
